.club-large-model-page {
    .large-model-label {
        width: 10em;
        margin-bottom: 16px;
        text-align: right;
        margin-right: 8px;
    }
    .flex-1 {
        flex: 1;
    }
    .ml-20 {
        margin-left: 20px;
    }
}
