.board-manage-page {
    .ant-card {
        margin-bottom: 14px !important;
    }

    > div:nth-of-type(2) {
        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-height: 32px;
        }
    }

    .ant-table-thead > tr > th:first-child,
    .ant-table-tbody > tr > td:first-child {
        min-width: 88px;
    }

    .ant-table-cell .ant-image-img {
        width: 128px;
        height: 76px;
    }

    .ant-table-cell .ant-tag {
        white-space: nowrap;
    }

    .ant-table-cell .ant-popover-open {
        border-color: #7cc8d3;
    }
}
