.club-statistics {
    .subtitle {
        padding-left: 10px;
        font-weight: bold;
    }

    .statistics-summary-box {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 16px;

        &_item {
            border-radius: 10px;
            padding: 20px;
            border: 1px solid #bcbcbc;
            p {
                text-align: center;
                &:first-child {
                    font-size: 20px;
                    color: #bcbcbc;
                    margin-bottom: 10px;
                    font-weight: bold;
                }
            }
        }
    }

    .statistics-table-box {
        background-color: #fff;
    }
}
