.vote-detail-page {
    .vote-detail-header {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .vote-detail-title {
            margin-left: 10px;
        }
    }
    .vote-detail-overview {
        margin-bottom: 12px;
    }
    .vote-detail-content {
        background-color: #fff;
        padding: 16px;
        .card-container {
            box-shadow: none;
            padding-top: 0;
        }
    }
}
