.system-form-table,
.growth-form-table {
    .ant-table {
        .ant-form-item {
            margin-bottom: 0;
            // 提示文字
            .ant-form-item-explain {
                width: 94px;
                white-space: nowrap;
            }
        }
    }
}
.growth-form-table {
    .ant-form-item {
        margin-bottom: 8px;
    }
    .ant-table-cell {
        word-break: break-all;
    }
}
.club-reward-form-modal {
    .flex {
        display: flex;
        align-items: baseline;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .reward-item {
        display: flex;
        background-image: linear-gradient(90deg, #26c1fa, #26c1fa 0, #2783f4 100%, #2783f4 0);
        color: #fff;
        border-radius: 6px;
        margin: 4px 4px 4px 0;
        padding: 3px 5px;
        .close-font {
            margin-left: 12px;
            cursor: pointer;
        }
    }
    .help-tip {
        color: #949494;
        font-size: 12px;
        margin-top: 60px;
    }
    .ant-modal-confirm-title {
        border-bottom: 1px solid #f0f0f0;
        padding: 10px;
    }
    .ant-modal-confirm-content {
        padding: 10px 20px;
    }
    .exp-form-item {
        margin-bottom: 0px;
    }
    .add-btn {
    }
    .ant-modal-confirm-btns {
        margin: 10px;
    }
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-close-x {
        line-height: 42px;
    }
}
