.complaint-record-list {
    .complaint__record__image {
        .ant-image {
            width: 100%;
        }
    }
    .complaint__record__image {
        width: auto;
        max-width: 80px !important;
        max-height: 80px;
    }
    .ant-image {
        margin-right: 8px;
    }
}

.post-detail {
    .content-wrap {
        max-height: 51vh;
        overflow: auto;
        .content-item {
            .txt {
                text-indent: 2em;
                margin-bottom: 8px;
            }
            .img,
            .video {
                max-width: 96%;
                margin: 0 auto;
            }
            .video__ele {
                max-width: 100%;
            }
        }
    }
}
