.image-form-table {
    .flex {
        display: flex;
    }
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.flex-start {
            align-items: start;
            margin-top: 12px;
        }
    }
    .font-tip {
        color: #00000073;
    }
    .title {
        transform: translateX(-5px);
    }
    .toolbar-icon {
        .ant-form-item-control {
            padding: 8px;
        }
    }
}
