.post-detail {
    .content-wrap {
        max-height: 51vh;
        overflow: auto;
        .content-item {
            .txt {
                text-indent: 2em;
                margin-bottom: 8px;
            }
            .img,
            .video {
                max-width: 96%;
                margin: 0 auto;
            }
            .video__ele {
                max-width: 100%;
            }
        }
    }
}
