.club-post-section-migrate-form {
    .color-blue {
        color: #1890ff;
    }
    .club-post-section-treeSelect {
        .ant-select-selection-item {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            line-height: 2;
            white-space: normal;
        }
    }
    .intro {
        margin: 40px 0 20px 0;
    }
}
