.club-post-content-contain {
    max-height: 250px;
    overflow-y: auto;
    .club-post-content-img {
        display: inline-block;
        max-width: 280px;
        max-height: 50px;
        width: auto;
        height: auto;
        margin: 4px;
    }
    .emoji {
        display: inline-block;
        vertical-align: text-bottom;
    }
}
