.copy-strategy-page_modal {
    .group-form-item {
        .ant-form-item-control-input-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
