.top-icon,
.top-icon svg {
    width: 45px !important;
    height: 45px !important;
}
.top-icon {
    position: absolute;
    top: 0;
    right: 0;
}
.btn-link {
    color: #1890ff;
    cursor: pointer;
}
.club-post-section-modal {
    .ant-modal-body {
        padding: 18px 32px 24px;
    }
}
.club-post-section-treeSelect {
    .ant-select-selection-item {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        line-height: 2;
        white-space: normal;
    }
}
.club-post-detail-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0;
}

.club_post_sink {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0;
}
.club_post_table__title {
    span {
        margin-bottom: 8px;
    }
}
.club_post_table__ops {
    .ant-btn {
        padding: 0px;
        margin-right: 4px;
    }
}

.section-select {
    .font-weight-bold {
        font-weight: bold;
    }
    .padding-left-1em {
        padding-left: 1em;
    }
}

.club-content-topic-tag {
    width: fit-content;
    margin-bottom: 4px;
    border: 1px dashed #868686;
    color: #868686;
    border-radius: 4px;
    padding: 0 4px;
}

.club-select-topic-tag {
    color: #3333ffa5;
}

.post_delete_tips {
    color: #aeaeae;
}

.filterbox-compact-normal .club-user-label-select.ant-select {
    width: 60% !important;
    max-width: 250px !important;
}
