.user-batch-forbid-modal {
    .flex {
        display: flex;
        &.end {
            justify-content: end;
        }
    }

    .font-red {
        color: red;
    }

    .flex {
        display: flex;
        align-items: center;
    }
    .info-panel {
        margin: 20px 0;
        overflow: auto;
        max-height: 100px;
        .success {
            color: #008000;
        }
        .fail {
            color: #ff0000;
        }
        .upload-fail {
            color: red;
            margin-left: 16;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
