.image-form-table .guess-question-item {
    display: flex;
    align-items: flex-start;
}

.image-form-table .guess-question-item .ant-form-item-control {
    flex: 1;
}

.robot-upload-img-container {
    display: block;
    position: relative;
    margin-left: 12px;
    .UploadImg-small {
        width: 44px;
        height: 32px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-info::before {
        left: 0;
    }
}
