.card-container {
    background-color: #fff;
    padding: 16px;
    .row-dragging-banner td {
        padding: 16px;
        vertical-align: middle; //这个控制样式居中，加上就可以了
        background-color: #efefef;
    }
    .record-table {
        margin-bottom: 16px;
    }
}
