.emoticons-list {
    .emoticons-list__table__record--image {
        .ant-image {
            width: 100%;
        }
    }
    .emoticons-list__table__record__image {
        width: auto;
        max-width: 100%;
        max-height: 60px;
    }
    .record-table {
        margin-bottom: 16px;
    }
    .color-red {
        color: red;
    }
    .card-container {
        background-color: #fff;
        padding: 16px;
    }
}

.row-dragging-emoticons td {
    padding: 16px;
    vertical-align: middle; //这个控制样式居中，加上就可以了
    background-color: #efefef;
    .ant-image {
        min-width: 30px;
        max-width: 100px;
    }
}
