.lottery-provide-table {
    .nickname-column {
        display: flex;
        align-items: center;
        .floor {
            border-radius: 6px;
            padding: 0 4px;
            color: #ff6633;
            border: 1px solid #ffcc66;
            margin-left: 6px;
        }
    }
}
